@import '@/styles/var.scss';

$navHeight: 45px;

.navbar {
  background-color: $themeColor;
  height: $navHeight;
  line-height: $navHeight;
  & > div {
    display: flex;
    width: $contentWidth;
    margin: 0 auto;
  }
  a {
    line-height: $navHeight;
    height: $navHeight;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
  }
}
:global {
  .navbar_navbarItem--selected {
    background-color: #fff;
    color: $themeColor !important;
  }
}
