{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "Firefox ESR",
            "> 1%",
            "ie >= 9",
            "iOS >= 8",
            "Android >= 4"
          ]
        },
        "useBuiltIns": true,
        "debug": false
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "generateScopedName": "[name]__[local]--[hash:base64:5]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ]
}
