{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        },
        "debug": false
      }
    ],
    "flow",
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-runtime",
    ["transform-class-properties", { "spec": true }],
    [
      "react-css-modules",
      {
        "generateScopedName": "[name]__[local]--[hash:base64:5]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ]
}
