// 浏览器样式兼容处理
@import '../../node_modules/normalize.css';
@import '@/styles/var.scss';
// 全局样式定义

html,
body {
  height: 100%;
  color: $primaryFontColor;
}

html {
  background-color: $rootBgColor;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

p {
  margin: 0;
}

button {
  padding: 0;
  outline: none;
  cursor: pointer;
}

a {
  color: $themeColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// 模拟第三方UI样式，全局样式定义
:global {
  #root {
    height: 100%;
  }
  .test {
    background-color: teal;
  }
}
