// 浏览器样式兼容处理
@import '../../node_modules/normalize.css';

// 全局样式定义

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// 模拟第三方UI样式
:global {
  .test {
    background-color: teal;
  }
}
