@mixin clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  &:before {
    content: '';
    display: table;
  }
}

@mixin singleEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
