@import '@/styles/var.scss';
.article {
  padding: 15px;
  ul {
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $themeColor;
  }
  & > div {
    padding: 0 15px;
  }
}
