@import '@/styles/var.scss';
@import '@/styles/tool.scss';

$color: yellow;
$blue: blue;

.header {
  display: flex;
  background-color: $themeColor;
  h1 {
    color: $color;
  }
}
.bgImage {
  width: 100px;
  height: 100px;
  background: no-repeat center center / cover;
  background-image: url('./logo.svg');
}
.floatBox {
  @include clearfix;
  :global(.test) {
    background-color: saddlebrown;
  }
  p {
    float: left;
  }
}
