@import '@/styles/var.scss';

.articles-list-filter {
  margin-bottom: 20px;
  button {
    border: 1px solid $themeColor;
    height: 30px;
    padding: 0 15px;
    & + button {
      border-left: none;
    }
    &.avtive {
      color: $themeColor;
    }
  }
}
